.LoadingIcon {
  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.Header {
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 4px 8px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  background-color: #1e2336;
  padding: 0px;

  .Nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;

    h2 {
      padding: 0px;
      margin: 0px;
    }

    .NavActions {
      display: inline-block;
      vertical-align: middle;
      gap: 16px;

      .SignOutButton {
        padding: 8px;
        margin: 8px;
        height: auto !important;
      }
    }
  }
}

.Loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.ManageGuild {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 64px);
}
